@model events.ViewModels.HomePageViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <!--<h1>From Cache: @ViewBag.FromCache</h1>

    <h1>From Session: @ViewBag.FromSession</h1>-->

    <h1>Welcome to TIY Music Bar</h1>
</div>

<h1>Upcoming Shows</h1>

<div class="row">
    <div class="col-md-12">

    </div>
</div>

@foreach (var evnt in Model.Events)
{
    <div class="row">
        <div class="col-md-12">
            <h3>@evnt.Title</h3>
            <h3>@evnt.GenreId</h3>
            <h3>@evnt.StartTime</h3>
            <h3>@evnt.VenueId</h3>
        </div>
    </div>
}

